<div class="template">This is coming from a {{name}} template</div>
<div class="helper">{{example-helper}}</div>
<div class="helper">{{>example_partial}}</div>
<div class="styled">And it has all been styled (poorly) using {{css}}</div>