extends layout

block content
  h1= title
  p Welcome to #{title}
  if optimize
    p Optimized mode.  You are getting a single RequireJS optimized JavaScript file which includes all the page dependencies.