doctype 5
html
  head
    title Mimosa
    link(rel='stylesheet', href='/stylesheets/style.css' + cachebust)

    if reload
      script(src='/socket.io/socket.io.js')
      script(src='/javascripts/reload-client.js')

    if optimize
      script(src='/javascripts/main-built.js')
    else
      script(src='/javascripts/vendor/require.js', data-main='/javascripts/main.js')

  body
    block content
