extends layout

block content
  p Mimosa is now serving up your assets at this URL
  p If you wish to utilize this page for web content in addition to serving of assets, you'll need to replace the body tag's HTML with your own on page load.