doctype 5
html
  head
    title= title

    - var url = '/app/stylesheets/style.css'
    - if (!useBuilt) {url += "?d=" + (new Date().getTime())}
    link(rel='stylesheet', href=url)

    if useBuilt
      script(src='/app/javascripts/main-built.js')
    else
      script(src='/app/javascripts/vendor/require.js', data-main='/app/javascripts/main.js')

    if reload
      script(src='/socket.io/socket.io.js')
      script(src='/socket-enable.js')

  body
    block content