doctype 5
html
  head
    title= title
    link(rel='stylesheet', href= base + '/stylesheets/style.css' + cachebust)

    if optimize
      - var urlBuilt = base + '/javascripts/main-built.js'
      script(src=urlBuilt)
    else
      - var urlRequire = base + '/javascripts/vendor/require.js'
      - var urlMain = base + '/javascripts/main.js'
      script(src=urlRequire, data-main=urlMain)

    if reload
      script(src='/socket.io/socket.io.js')
      script(src='/socket-enable.js')

  body
    block content