blue = #5B83AD
yellow = #FFFFE0

body
  padding 50px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

  .template
    background linear-gradient(top, white, yellow)
    border-radius bottom 10px

  .helper
    border 1px solid blue

  .styled
    transform rotate(-30deg)
    margin-top 100px
    position absolute
