!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    if useBuilt
      script(src='/javascripts/main-built.js')
    else
      script(src='/javascripts/vendor/require.js', data-main='/javascripts/main.js')

    if reload
      script(src='/socket.io/socket.io.js')
      script(src='/socket-enable.js')

  body!= body
